:root {
  --blue: #007bff;
  --black: #343a40;
  --white: #f8f9fa;
  --green: #28A745;
  --yellow: #FFC107;
  --red: #E74C3C;
  font-family: "Inter", sans-serif;
}

body {
  width: 100vw;
  overflow-x: hidden;
  background-color: var(--white);
  color: var(--black);
}
